body {
    color: #192c2D;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 0;
}

p {
    font-size: medium;
    line-height: 2;
}

h1 {
    font-size: 5.625rem;
    color: #d72323;
    margin: 25px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #d72323;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 2;
    padding-bottom: 10px;
}

h3 {
    color: #397279;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fffaa4;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #e7eae3;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    margin: 100px auto;
    width: 5%;
}

.pics {
    padding-left: 150px;
    padding-right: 150px;
}

.icon {
    padding: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.unity {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.web-dev {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    /* border: solid; */
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.topContainer {
    background-color: #303841;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.midContainer {
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin: 100px auto; */
}

.bottomContainer {
    background-color: #303841;
    padding: 50px 0 20px;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;

}

.footer-link {
    color: #3eacc3;
    font-family: 'Roboto', sans-serif;
    margin: 30px 10px;
    text-decoration: none;
}

.copyright {
    color: #e7eae3;
    font-size: 0.75rem;
    padding: 20px 0;
}

.desc {
    padding: 25px;
}
.card{
    padding: 24px;
}
.card-holder{
    background-color: #eeeeee;
}
.inner-card{
    background-color: #fecd1a;
}
@media(max-width:1028px) {
    #title {
        text-align: center;
    }

    .icon {
        display: none;
    }

    .container-fluid {

        padding: 7% 15%;

    }
}